#include "tegra210-p3448-0003-p3542-0000.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x70006000 root=/dev/mmcblk0p1 rootwait rootfstype=ext4 init=/init nvdec_enabled=0";
	};

	firmware {
		android {
			compatible = "android,firmware";
			hardware = "batuu";
			first_stage_delay = "1";
			system_root_blkdev = "/dev/mmcblk0p1";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/sdhci-tegra.0/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,noatime";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	host1x {
		dc@54200000 {
			win-mask = <0xf>;
		};

		dc@54240000 {
			win-mask = <0xf>;
		};
	};
};
